<footer class="bg-dark text-light pt-4 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>HS Medical Vida</h5>
        <p>Compromisso com a sua saúde e bem-estar.</p>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Links úteis</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light text-decoration-none">Início</a></li>
          <li><a href="#" class="text-light text-decoration-none">Serviços</a></li>
          <li><a href="#" class="text-light text-decoration-none">Agendamento</a></li>
          <li><a href="#" class="text-light text-decoration-none">Contato</a></li>
        </ul>
      </div>

      <div class="col-md-4 mb-3">
        <h5>Contato</h5>
        <p>Email: contato&#64;empresa.com</p>
        <p>Telefone: +244 999 999 999</p>
        <p>Endereço: Luanda, Angola</p>
      </div>
    </div>

    <hr class="border-secondary" />

    <div class="text-center pb-3">
      &copy; {{ currentYear }} HS Medical Vida. Todos os direitos reservados.
    </div>
  </div>
</footer>
