<div class="container">
    <h1 class="text-center mt-3">Agendar uma Consulta</h1>

    <div>
        <h3 class="text-center mt-3">Agende Sua Consulta na H.S. Medical Vida</h3>
        <p class="text-center">Preencha este formulário para garantir seu atendimento personalizado na H.S. Medical Vida. Nossa equipe entrará em contato em até <strong>24 horas</strong>  úteis para confirmar seu agendamento.</p>

        <div class="container mt-5">
            <h2 class="mb-4">Formulário de Agendamento</h2>
            <form>
                <div class="row mb-3">
                <div class="col-md-6">
                    <label for="firstName" class="form-label">Primeiro Nome*</label>
                    <input type="text" class="form-control" id="firstName" placeholder="Seu nome..." required>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Último Nome*</label>
                    <input type="text" class="form-control" id="lastName" placeholder="Seu Sobrenome..." required>
                </div>
                </div>

                <div class="mb-3">
                <label for="phone" class="form-label">Telefone*</label>
                <input type="tel" class="form-control" id="phone" placeholder="Seu Telefone" required>
                </div>

                <div class="mb-3">
                <label for="email" class="form-label">Email*</label>
                <input type="email" class="form-control" id="email" placeholder="Seu Email" required>
                </div>

                <div class="mb-3">
                <label for="message" class="form-label">Mensagem*</label>
                <textarea class="form-control" id="message" rows="4" placeholder="Sua mensagem..." required></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success p-3 rounded-5 ">Enviar agendamento</button>

                </div>
            </form>
</div>
    </div>
</div>