<div class="container py-5">
  <h2 class="text-center mb-4">Galeria de Fotos</h2>

  <div class="row justify-content-center">
    <div
      class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 d-flex justify-content-center"
      *ngFor="let img of imagens">
      <img
        [src]="img"
        alt="Foto"
        class="img-fluid galeria-img"
        (click)="abrirModal(template, img)" />
    </div>
  </div>

  <!-- Modal com ngx-bootstrap -->
 <ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Foto em Destaque</h5>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="fecharModal()"></button>
  </div>
  <div class="modal-body text-center">
    <img
      [src]="imagemSelecionada"
      alt="Imagem em destaque"
      class="img-fluid imagem-modal" />
  </div>
</ng-template>

</div>
