<div class="container">
    <h1 class="text-center">
        Estrutura Física
    </h1>
    <h3 class="text-center mt-3">Conheça a Hs Medical Vida Por dentro</h3>
    <br>
    <div class="gallery ">
      <img
        *ngFor="let img of imagens"
        [src]="img"
        (click)="openModal(modalTemplate, img)" />
    </div>
</div>
 
<ng-template #modalTemplate #template>
  <div class="modal-header">
    <h4 class="modal-title">Foto em destaque</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Fechar"
      (click)="modalRef?.hide()"></button>
      </div>
  <div class="modal-body text-center">
    <img [src]="imagemSelecionada" class="img-fluid" />
  </div>
</ng-template>