<div class="container py-5">
  <h2 class="text-center mb-4">Galeria de Fotos</h2>
    <h3>Conheça a H.S Medical Vida Por Dentro!</h3>

  <p>Faça uma tour exclusivo pelas nossas instalações e descubra por que somos referência em cuidados de saúde:</p>
   <ul>
                    <li><strong>Recepção acolhedora</strong> com atendimento personalizado</li>
                    <li><strong>Consultório modernos</strong> equipados com tecnologia de ponta</li>
                    <li><strong>Áreas de internamento</strong>(enfermarias e apartamentos privativos)</li>
                    <li><strong>Salas de procedimentos</strong> e equipamento de última geração</li>
                    <li><strong>Espaços dedicados</strong> (Fisioterapia, Urgências, Diagnóstico por Imagem)</li>
  </ul>
  <div class="row justify-content-center">
    <div
      class="col-6 col-sm-4 col-md-3 col-lg-2 mb-4 d-flex justify-content-center"
      *ngFor="let img of imagens">
      <img
        [src]="img"
        alt="Foto"
        class="img-fluid galeria-img"
        (click)="abrirModal(template, img)" />
    </div>
  </div>

  <!-- Modal com ngx-bootstrap -->
 <ng-template #template>
  <div class="modal-header">
    <h5 class="modal-title">Foto em Destaque</h5>
    <button type="button" class="btn-close" aria-label="Fechar" (click)="fecharModal()"></button>
  </div>
  <div class="modal-body text-center">
    <img
      [src]="imagemSelecionada"
      alt="Imagem em destaque"
      class="img-fluid imagem-modal" />
  </div>
</ng-template>

</div>
