

<div class="carousel-wrapper">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner position-relative">
      
      <!-- TEXTO CENTRALIZADO -->
      <div class="carousel-text-overlay">
        <h2 class="text-white">Estamos aqui para cuidar de ti.</h2>
        <br>
        <p class="text-white rounded-5 btn btn-success p-3"><a href="/agendamento">Agendar uma consultar</a></p>
      </div>

      <!-- SLIDES -->
      <div class="carousel-item active">
        <img src="../../assets/img/teste.jpg" class="d-block w-100 carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/1751617488925.jpg" class="d-block w-100 carousel-img" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/1751617488946.jpg" class="d-block w-100 carousel-img" alt="...">
      </div>
    </div>
  </div>
</div>
