<div class="container">
    <h1 class="text-center mt-2">Sobre nós</h1>

    <div class="row mt-4">
        <div class="col">
            <h2>H.S MEDICAL VIDA</h2>
            <p>
            A H.S. Medical Vida – Serviços Limitada, Sociedade de Direito Angolano, com sede no Bairro Benfica, rua direita do Benfica, junto ao Hotel Lukweku, 100m antes do contorno para a via express / Av. Fidel de Castro.
É uma empresa Angolana, dedicada aos serviços de assistência médica, medicamentosa, imagiologia, analises clínica e de reabilitação física.
            </p>
        </div>
        <div class="col">
            <h2>Missão</h2>
            <p>
                A nossa maior missão é proporcionar atenção médica humanizada e excelência técnica em todos os nossos serviços, garantindo o bem-estar integral dos pacientes. Atuamos com prevenção, diagnóstico preciso e tratamentos personalizados, sempre pautados pelo acolhimento e ética profissional.
Aqui na Clínica HS Medical Vida, valorizamos cada paciente. Esperamos que você se sinta em casa e que possamos te ajudar a conquistar uma saúde plena. 
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Valores</h2>
                <p class="fs-6">❤️ Humanização – Cada paciente é único, com histórias e necessidades especiais
                <br>🔬Excelência – Atualização constante e rigor científico em todos os procedimentos
                <br>🤝 Transparência – Clareza no diagnóstico, tratamento e valores
                <br>🏥 Acessibilidade – Planos de saúde, preços justos e atendimento inclusivo
                <br>🌱 Responsabilidade Social – Ações comunitárias e promoção da saúde pública</p>            
        </div>
        <div class="col">
            <h2>Visão</h2>
            <p>             
                🌍 Ser referência nacional em cuidado integral à saúde, reconhecida pela excelência técnica, empatia no atendimento e compromisso com o bem-estar da comunidade. Buscamos constantemente inovação, confiança e impacto social positivo, promovendo uma saúde acessível, ética e de qualidade para todos. 
            </p>
        </div>
    </div>
</div>